@use "sass:math";

:root {
  background: url("./assets/globe.jpg");
  // background: url("./assets/globe3.jpg");
  background-position: top center;
  background-size: cover;
  min-height: 100%;
  font-family: "Oxanium", sans-serif;
  font-weight: bold;
  color: white;
}
.nav {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.grow {
  flex-grow: 1;
}

.shiny-button {
  background: linear-gradient(white, #575656);
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 0 3px #fff5 inset;
  transition: box-shadow 0.3s;

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    transform: scaleX(2);
    opacity: 0.15;
    transition: transform 0.3s;
  }

  &,
  &:link,
  &:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  &[data-active=""],
  &:active {
    background: linear-gradient(rgb(197, 197, 197), rgb(105, 105, 105));
    &::before {
      display: none !important;
    }
  }

  &:hover {
    &::before {
      transform: translateY(3px) scale(2);
      box-shadow: 0 0 -5px 5px white inset;
    }
  }
}

.narrow {
  margin: 1rem auto;
  max-width: 40rem;
}

.box {
  padding: 1px 1rem;
  border-radius: 0.5rem;
  background-color: #c2c2c255;
  backdrop-filter: blur(10px);
  font-weight: 500;
  line-height: 1.7;
  box-shadow: 0 0 1px white inset;
}

.default-link:link {
  color: white;
}

.default-link:visited {
  color: #eee;
}

.default-link:hover {
  text-decoration-thickness: 2px;
}

.default-link:active {
  text-decoration: none;
}
