@use "sass:math";

body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
}

:root {
  min-height: 100%;
  font-family: "Oxanium", sans-serif;
  font-weight: bold;
  color: black;
  box-sizing: border-box;
  background: white;
}

* {
  font-family: inherit;
  box-sizing: inherit;
}

input,
button {
  font-size: inherit;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  line-height: 1.3;
}

.nav {
  display: flex;
  gap: 4px;
}

.grow {
  flex-grow: 1;
}

.shiny-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  border: none;

  &:not(:disabled) {
    box-shadow: 0 0 3px #fff5 inset;
    background: linear-gradient(white, #575656);
    cursor: pointer;
  }

  &.joined {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    transform: scaleX(2);
    opacity: 0.15;
    transition: transform 0.3s;
  }

  &,
  &:link,
  &:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  &[aria-current="page"],
  &[aria-pressed="true"],
  &:active {
    background: linear-gradient(rgb(197, 197, 197), rgb(105, 105, 105));
    &::before {
      display: none !important;
    }
  }

  &:disabled {
    background: linear-gradient(rgb(197, 197, 197), rgb(105, 105, 105));
    &::before {
      display: none !important;
    }
  }

  &:not(:disabled) {
    &:hover {
      &::before {
        transform: translateY(3px) scale(2);
        box-shadow: 0 0 -5px 5px white inset;
      }
    }
  }
}

.narrow {
  margin: 1rem auto;
  max-width: 40rem;
}

.box {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #c2c2c255;
  backdrop-filter: blur(10px);
  font-weight: 500;
  line-height: 1.7;
  box-shadow: 0 0 1px white inset;

  & > :first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.default-link:link {
  color: inherit;
}

.default-link:visited {
  color: inherit;
  opacity: 0.8;
}

.default-link:hover {
  text-decoration-thickness: 2px;
}

.default-link:active {
  text-decoration: none;
}

footer {
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &.end {
    align-items: flex-end;
  }
}
